* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(44, 14, 48);
  background-image: url("../img/stars.png");
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}